/* Add CSS Styling */

.odd {
    background-color: rgb(255, 0, 140);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#three {
    font-size: 24px;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#four {
    background-color: rgb(134, 255, 134);
    font-size: 24px;
    font-weight: bold;
}