* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 4fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-row: 1;
  grid-column: 1 / 3;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
}

.logo {
  justify-self: flex-start;
}

ul {
  display: grid;
  justify-content: space-evenly;
  list-style: none;
}

.menu ul {
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-row: 2 / 4;
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  place-items: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  place-items: center;
}

.nav {
  background-color: #C50208;
  grid-row: 2;
  grid-column: 2 / 3;
}

.nav ul {
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-row: 4;
  grid-column: 1 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}